/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
   
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 



/* Section Top */
.Section_top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/Photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.content h1{
    color: #FFFAFA;
    font-size: 80px;
    font-family: "Dancing Script",cursive;
    letter-spacing: 15px;
}
.content h1 span {
    color: aqua;
}

button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(0,255,255);
    border: 2px solid rgb(0,255,255);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(0,255,255);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  button:hover::before {
    scale: 3;
  }
  
  button:hover {
    color: #fff8f8;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  button:active {
    scale: 1;
  }
  
  
  